%%%-------------------------------------------------------------------
%%% @author Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%% @copyright (C) 2013-2016, Evgeniy Khramtsov
%%% @doc
%%%
%%% @end
%%% Created :  8 May 2013 by Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%%-------------------------------------------------------------------
%% Macros
{roster_gateway_workaround, false}.
{full_xml, true}.
{db_type, generic}.
{debug, true}.
{hipe, false}.
{erlang_deprecated_types, false}.

%% Ad-hoc directories with source files
{tools, false}.

%% Dependencies
{odbc, false}.
{mysql, false}.
{pgsql, true}.
{sqlite, false}.
{pam, false}.
{zlib, true}.
{riak, false}.
{redis, false}.
{elixir, false}.
{iconv, true}.

%% Version
{vsn, "16.09"}.

%% Variables for overlay template files

%% Platform-specific installation paths
{release, true}.
{release_dir, "${SCRIPT_DIR%/*}"}.
{sysconfdir, "{{release_dir}}/etc"}.
{installuser, ""}.
{erl, "{{release_dir}}/{{erts_vsn}}/bin/erl"}.
{epmd, "{{release_dir}}/{{erts_vsn}}/bin/epmd"}.
{localstatedir, "{{release_dir}}/var"}.
{libdir, "{{release_dir}}/lib"}.
{docdir, "{{release_dir}}/doc"}.

{latest_deps, false}.

{ldflags, ""}.
{cflags, ""}.
{cppflags, ""}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
